* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: cover;
}

#container {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container > div {
  width: 90%;
}

header {
  text-align: center;
  color: #00DD00;
}
#logo {
width: clamp(110px, 25%, 150px);
}

#topbar {
  background-color: #00DD00;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 3px;
}

#topbar button {
  font-size: 9px;
}

ul {
  color: white;
  list-style: none;
}

li {
  margin-top: 12px;
}

li > div {
  height: 20px;
  border-radius: 3px;
}

#charge-bar-1 {
  width: 30%;
  background-color: #F5B453;
}
#charge-bar-2 {
  width: 55%;
  background-color: #00DD00;

}
#charge-bar-3 {
  width: 15%;
  background-color: #BE4141;
}
p {
  font-size: 12px;
}
